# CrowdStrike API
# Use short cloud value: us1, us2, eu1, usgov1
CS_BASE_URL=us2
CS_CLIENT_ID=
CS_CLIENT_SECRET=
CS_REPOSITORY=search-all

# VirusTotal API
VT_API_KEY=
VT_REQUEST_DELAY_SECONDS=20

# Output folder
OUTPUT_DIR=output
